/******************************** * Basics *********************************/

/********************************
* slide styles
*********************************/

.slide-items {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.slide-item {
    flex: 1 0 250px;
}

.slide-button {
    width: 27.53px;
    opacity: 50%;
    cursor: pointer;
    position: absolute;
    top: 60%;
}

.slide-button:nth-of-type(1) {
    left: 20px;
}

.slide-button:nth-of-type(2) {
    right: 20px;
}

.slide-button:hover {
    opacity: 100%;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}

/********************************
* Breakpoints
*********************************/

@media screen and (min-width: 576px) {
    .slide-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {
    .slide-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    .slide-item {
        flex-basis: 450px;
    }
}